<div class="form-container">
    <h2>Update Profile</h2>
    <form [formGroup]="form">
      <!-- Add input fields for updating profile details -->

      <div class="form-group">
        <label for="name">First Name:</label>
        <input type="text" id="name" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="name">Last Name:</label>
        <input type="text" id="name" formControlName="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="date-of-birth">Date of birth:</label>
        <input type="date" id="date-of-birth" formControlName="dateOfBirth">
      </div>
      <div class="form-group">
        <label for="mobile-number">Contact Number:</label>
        <input type="text" id="mobile-number" formControlName="mobileNumber">
      </div>

      <button type="submit" class="save-button" (click)="onUpdate()">Save Changes</button>
    </form>
  </div>