<div class="form-container">
  <h2>Update Profile</h2>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName" required>
      <p class="error-message" *ngIf="form.controls['firstName'].touched && form.controls['firstName'].invalid">
        First Name is required
      </p>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" required>
      <p class="error-message" *ngIf="form.controls['lastName'].touched && form.controls['lastName'].invalid">
        Last Name is required
      </p>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <p class="error-message" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
        Enter a valid email
      </p>
      <p class="error-message" *ngIf="customerEmail === form.value.email && form.controls['email'].touched">
        Email already exists
      </p>
    </div>

    <div class="form-group">
      <label for="date-of-birth">Date of Birth:</label>
      <input type="date" id="date-of-birth" formControlName="dateOfBirth">
    </div>

    <div class="form-group">
      <label for="mobileNumber">Contact Number:</label>
      <input type="text" id="mobileNumber" formControlName="mobileNumber" pattern="[0-9]{10}" required>
      <p class="error-message" *ngIf="form.controls['mobileNumber'].touched && form.controls['mobileNumber'].errors?.['required']">
        Contact Number is required
      </p>
      <p class="error-message" *ngIf="form.controls['mobileNumber'].touched && form.controls['mobileNumber'].errors?.['pattern']">
        Enter a valid 10-digit number
      </p>
      <p class="error-message" *ngIf="customerNumber === form.value.mobileNumber && form.controls['mobileNumber'].touched">
        Mobile Number already exists
      </p>
    </div>

    <button type="submit" class="save-button" (click)="onUpdate()">Save Changes</button>
  </form>
</div>