.navbar {
  background-color: #28a745;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1em;
}

.nav-link:hover {
  background-color: #fff;
  color: #28a745;
}

.profile-link {
  padding: 0; /* Remove padding for the profile icon link */
}

.profile-icon {
  width: 30px;
  height: 30px;
}
