<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/home">Floral Bliss</a>
    <div class="navbar-links">
      <a (click)="onHome()" class="nav-link">Home</a>
      <a (click)="onCatalog()" class="nav-link">Catalog</a>
      <a (click)="onWishList()" class="nav-link">Wishlist</a>
      <a (click)="onCart()" class="nav-link">Cart</a>
      <a (click)="onOrder()" class="nav-link">Orders</a>
      <a (click)="onSignOut()" class="nav-link">Sign Out</a>
      <a (click)="onProfile()" class="nav-link profile-link">
        <img src="assets/profile-icon.png" alt="Profile" class="profile-icon" />
      </a>
    </div>
  </div>
</nav>
