<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/home">Nursery E-Commerce</a>
    <div class="navbar-links">
      <button (click)="onCatalog()" class="nav-button">Catalog</button>
      <button (click)="onWishList()" class="nav-button">Wishlist</button>
      <button (click)="onCart()" class="nav-button">Cart</button>
      <button (click)="onSignOut()" class="nav-button">Sign Out</button>
      <button (click)="onProfile()" class="nav-button profile-button">
        <img src="assets/profile-icon.jpg" alt="Profile" class="profile-icon" />
      </button>
    </div>
  </div>
</nav>
