<app-header/>
<div *ngIf="order" class="order-container">
  <h2>Order Details</h2>
  <div class="order-details">
    <p><strong>Order ID:</strong> {{ order.orderId }}</p>
    <p><strong>Amount:</strong> {{ order.amount | currency:'ZAR':'R':'1.2-2' }}</p>
    <p><strong>Order Date:</strong> {{ order.orderDate | date }}</p>
    <p><strong>Status:</strong> {{ order.status }}</p>
  </div>

  <h3>Products</h3>
  <div class="order-lines">
    <ul>
      <li *ngFor="let line of order.orderLines">
        <img [src]="line.product.imageUrl" alt="{{ line.product.name }}">
        <div class="details">
          <p class="product-name">{{ line.product.name }}</p>
          <p><strong>Quantity:</strong> {{ line.quantity }}</p>
          <p class="price"><strong>Quoted Price:</strong> {{ line.quotedPrice | currency:'ZAR':'R':'1.2-2' }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!order">
  <p>No order found...</p>
</div>
