<app-header />
<div class="order-confirmation-container">
  <h2 class="h2">Order History</h2>

  <div *ngIf="order.length === 0">
    <p class="empty">No previous orders found.</p>
  </div>

  <div *ngIf="order.length > 0">
    <div *ngFor="let orders of order" class="order-summary">
      <h3>Order placed on {{ orders.orderDate | date: "longDate" }}</h3>

      <div *ngFor="let item of orders.orderLines" class="order-item">
        <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="order-item-image" />
        <div class="order-item-details">
          <h4>{{ item.product.name }}</h4>
          <p>Quantity: {{ item.quantity }}</p>
          <p class="price">Total Price: R{{ item.quotedPrice}}</p>
        </div>

        <app-review
          [productId]="item.product.productId"
          [customerId]="orders.customer?.customerId ?? 0"> <!-- Use safe navigation and default to 0 -->
        </app-review>
      </div>

      <div class="order-total">
        <p>Total Amount: R{{ orders.amount }}</p>
      </div>
    </div>
  </div>
</div>
