.delete-account {
    padding: 20px;
  }

  h2 {
    color: #d9534f;
  }

  .btn-danger {
    margin-right: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }

  .btn-secondary{
    margin-right: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }

  .btn-danger:hover {
    background-color: #218838;
  }

  .btn-secondary:hover{
    background-color: #218838;
  }
