<div class="form-container">
  <h2>Add Address</h2>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="streetNumber">Street Number:</label>
      <input type="text" id="streetNumber" formControlName="streetNumber" />
    </div>
    <div class="form-group">
      <label for="streetName">Street name:</label>
      <input type="text" id="streetName" formControlName="streetName" />
    </div>
    <div class="form-group">
      <label for="suburb">Suburb:</label>
      <input type="text" id="suburb" formControlName="suburb" />
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" id="city" formControlName="city" />
    </div>
    <div class="form-group">
      <label for="postalCode">Postal code:</label>
      <input type="text" id="postalCode" formControlName="postalCode" />
    </div>
    <button type="submit" class="save-button" [disabled]="!addressForm.valid">Add address</button>
  </form>
</div>