.profile-container {
    width: 60%; /* Reduced width */
    max-width: 600px; /* Maximum width */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left; /* Align text to the left */
  }

  .profile-container h2 {
    margin-bottom: 20px;
    font-size: 1.8em; /* Adjust font size */
    color: #28a745; /* Match header color */
  }

  .form-group {
    margin-bottom: 20px; /* Increased space between form groups */
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Darker label color for better readability */
  }

  .form-group input {
    width: 100%;
    padding: 12px; /* Increased padding for a better input feel */
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
  }

  .save-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 24px; /* Adjust padding for a larger button */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; /* Larger font size for better readability */
  }

  .save-button:hover {
    background-color: #218838;
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
