<app-header></app-header>
<div class="cart-container">
  <h2>Your Cart</h2>
  <div *ngIf="cartProduct.length === 0; else cartContent">
    <div>Your cart is empty.</div>
    <button (click)="continueShopping()" class="home-button">Continue Shopping</button>
  </div>
  <ng-template #cartContent>
    <button (click)="continueShopping()" class="home-button">Continue Shopping</button>
    <div *ngFor="let item of cartProduct" class="cart-item">
      <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="cart-item-image" />
      <div class="cart-item-details">
        <h3>{{ item.product.name }}</h3>
        <p>{{ item.product.description }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p class="price">Total Price: R{{ item.totalPrice }}</p>
        <button (click)="removeFromCart(item.product)">Remove</button>
        <div class="quantity-controls">
          <button (click)="decreaseQuantity(item.product)">-</button>
          <button (click)="increaseQuantity(item.product)">+</button>
        </div>
      </div>
    </div>
    <div class="cart-total">
      <p>Total: R{{ getTotalPrice() }}</p>
    </div>
    <button (click)="checkout()" class="checkout-button">Checkout</button>
  </ng-template>
</div>
