<div class="registration-container">
  <h2>Register</h2>
  
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName" required>
      <p *ngIf="form.controls.firstName.touched && form.controls.firstName.invalid" class="error-message">Enter First Name</p>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" required>
      <p *ngIf="form.controls.lastName.touched && form.controls.lastName.invalid" class="error-message">Enter Last Name</p>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <p *ngIf="form.controls.email.touched && form.controls.email.invalid" class="error-message">
        Enter a valid email
      </p>
      <p *ngIf="emailExists" class="error-message">Email already exists</p> 
    </div>      
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <p *ngIf="form.controls.password.touched && form.controls.password.invalid" class="error-message">Enter a valid password (must be 3 characters long)</p>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
      <p *ngIf="form.value.password !== form.value.confirmPassword && form.controls.confirmPassword.touched" class="error-message">Passwords do not match</p>
    </div>
    <button type="submit" class="register-button">Register</button>
  </form>
  <p class="login-link">
    Already have an account? <a routerLink="/login" routerLinkActive="active">Log in here</a>.
  </p>
</div>
