<app-header/>
<div class="profile-container">
  <div class="sidebar">
    <ul>
      <li><a routerLink="update-profile" routerLinkActive="active">Update Profile</a></li>
      <li><a routerLink="change-password" routerLinkActive="active">Change Password</a></li>
      <li><a routerLink="add-address" routerLinkActive="active">Add Address</a></li>
      <li><a routerLink="delete-account" routerLinkActive="active">Delete Account</a></li>
    </ul>
  </div>
  <div class="profile-content">
    <router-outlet></router-outlet>
  </div>
</div>
